<h1>New game</h1>
<p><%= @letters %></p>
<p>What is the longest word you can find?</p>

<form action="score">
  <%= hidden_field_tag :token, @letters %>
  <input type="text" name="answer">
  <input type="submit" value="play">
</form>
